body {background-color: darkgray}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,

label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
.red {background-color:firebrick}
.blue {background-color:blue}
.green {background-color:green}